@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
.card {
  background-color: white;
  width: 150px;
  height: 220px;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  position: relative;
}
.number {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.suit-top {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
}
.suit-bottom {
  position: absolute;
  right: 10px;
  bottom: 10px;
  transform: rotate(180deg);
  font-size: 30px;
}
.heart,
.diamond {
  color: red;
}
